{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="mt-4 col-lg-5 mx-auto border rounded pt-4">
        <h3>Login</h3>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            {{ message }}</p>

        {% endfor %}
        {% endif %}
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="">email</label>
                <input type="email" value="{{email}}" name='email' class="form-control">
            </div>
            <div class="form-group">
                <label for="">password</label>
                <input type="password" name='password' class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" name='submit' class="form-group btn btn-primary" value='Login'>
            </div>
        </form>
    </div>
</div>

{% endblock %}